body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  line-height: 2;
  font-size: 14px;
}
h1 {
  color: rgb(100,240,160)
}
.rosso {
  color: hsla(360, 100%, 100%, 0.5);
}
.blu {
  color: rgb(0,0,255)
}
.verde {
  color: rgb(0,255,0)
  /*commento su css be like xd*/
}

.menu li {
  display: inline;
  padding: 1%;
  /*prima h poi l; se fossero quattro dati 12,3,6,9 come orlologio, sopra a destra sotto sisistra*/
  font-family: 'Zen Old Mincho', serif;
  text-transform: uppercase;

  border-right: 2px solid black;
}
  .menu li:last-of-type {
    border: 0;
  }
    .menu li a {
      color: black;
      text-decoration: none;
    }
  .menu li a:hover {
    /*text-decoration: underline;*/
    border-bottom: 20px solid black;

  }
  img.bordoimmagine {
    border: 10px dotted black;
    padding: 10px;
    margin: 20px;

  }
