body {
  background-color: #ff0000;
  font-family: 'Roboto', sans-serif;
  line-height: 2;
  font-size: 14px;
}
h1 {
  color: rgb(100,240,160)
}
.rosso {
  color: hsla(360, 100%, 100%, 0.5);
}
.blu {
  color: rgb(0,0,255)
}
.verde {
  color: rgb(0,255,0)
  /*commento su css be like*/
}
